// Variables
@link-color:        #428bca; // sea blue
@link-color-hover:  darken(@link-color, 10%);
@other-var: 0 0 0.25rem 0 rgba(0, 0, 0, 0.15), inset 0 -0.0625rem 0 0 @link-color;
@link-color-active: @link-color;
@backgroundVariant: 2;
@backgroundImage: extract(url(./img.png) none, @backgroundVariant);
@backgroundVariant: 1;

// Usage
a,
.link {
  color: @link-color;
}
a:hover {
  color: @link-color-hover;
}
.widget {
  color: #fff;
  background: @link-color;
}
.background {
	background-image: @backgroundImage;
}

// Lazy Evaluation
.lazy-eval {
  width: @var;
  @a: 9%;
}

@var: @a;
@a: 100%;

.nested {

  @b: darken(@link-color-active, 20%);
  @padLeft: 20px;
  @top: 5rem;
  @lineHeight: 2rem;

  .my-mixin(@bgColor: #fff) {
    background: @bgColor;
    border-color: lighten(@bgColor, 20%);
    & when not (@bgColor = #000) {
      background: lighten(@bgColor, 5%);
    }
  }


.other-mixin(@rootClass) {
  @{rootClass}.somePadding {
    padding: 1rem;
    box-sizing: border-box;
  }

  @media (max-width:599px) {
    @{rootClass}.somePadding {
      padding: 0;
    }
  }
}

  .calc-vars {
    @c: calc(100% - 80px);
    @d: -@a;
    height: @c;
    width: @d;
    color: lighten(@b, 10%);
    top: -@top;
    line-height: @lineHeight / 2;
    .my-mixin(@link-color)
  }

  .calc-vars-duplicate {
    color: lighten(@b, 10%);
    padding-left: ~"calc(@{padLeft} + 0.5rem)";
    .my-mixin(#fff);
    .other-mixin(somePrefix);
  }

}

