html[dir=rtl][data-sap-ui-browser^=ie] .sapUiGrid th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ie] .sapUiGrid td > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ed] .sapUiGrid th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ed] .sapUiGrid td > .sapUiFormTitle {
  color: #000000;
}
html[dir=rtl][data-sap-ui-browser^=ie].sapUiGrid th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ie].sapUiGrid td > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ed].sapUiGrid th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ed].sapUiGrid td > .sapUiFormTitle {
  color: #000000;
}
html[dir=rtl][data-sap-ui-browser^=ie].sap-desktop-sapUiClass .testClass {
  color: #000000;
}
html[dir=rtl][data-sap-ui-browser^=ie] .barContrast .sapUiGrid th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ie] .barContrast.sapUiGrid th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ie] .barContrast .sapUiGrid td > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ie] .barContrast.sapUiGrid td > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ed] .barContrast .sapUiGrid th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ed] .barContrast.sapUiGrid th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ed] .barContrast .sapUiGrid td > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ed] .barContrast.sapUiGrid td > .sapUiFormTitle {
  color: #ffffff;
}

html[dir=rtl][data-sap-ui-browser^=ie].sapUiGrid .barContrast th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ie].sapUiGrid .barContrast td > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ed].sapUiGrid .barContrast th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ed].sapUiGrid .barContrast td > .sapUiFormTitle {
  color: #ffffff;
}

html[dir=rtl][data-sap-ui-browser^=ie].sap-desktop-sapUiClass .barContrast .testClass,
html[dir=rtl][data-sap-ui-browser^=ie].sap-desktop-sapUiClass .barContrast.testClass {
  color: #ffffff;
}
