@media screen and (min-width: 600px) {
   body {
     background: #ffffff;
     font-size: 20px;
   }

   html.myRule1 td {
     color: #ffffff;
   }
}

.myRule2 {
  background: #ffffff;
}

@media screen and (min-width: 600px) {
  body {
    background: #ffffff;
    font-size: 20px;
  }

  .myRule2 {
    background: #ffffff;
  }
}
