FROM node:lts-alpine
RUN apk add --no-cache python3 g++ make
WORKDIR /app
COPY . .
RUN yarn install --production
CMD ["node", "/app/src/index.js"]# see http://editorconfig.org

root = true

[*]
charset = utf-8
indent_style = tab

[*.{css,html,js,less,txt,json,yml,md}]
trim_trailing_whitespace = true
end_of_line = lf
indent_size = 4
insert_final_newline = true

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
