a {
  color: green;
}
/* one */
b {
  color: blue;
}
b.test {
  color: pink;
}
/* two */
/*
 * multiline
 */
a {
  color: pink;
}
b {
  color: black;
}
/* one */
/* two */
/* three */
html {
  background-color: black;
}
/* single */
b.test {
  color: black;
}
