/*
 * multiline
 */
b.test {
  color: black;
}
/* one */
/* two */
/* three */
b {
  color: black;
} b.test
/* mine */
html {
  background-color: black;
} b.test
/* mine2 */
b.test {
  color: black;
}
/* one */
/* two */
/* three */
html {
  background-color: black;
}
/* single */
a.test {
  color: black;
}