@font-face {
  font-family: 'myfont';
  src: url('font.eot');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@media (min-width: 600px) and (max-width: 1023px) {
	.myRule1 {
	  color: #ffffff;
	}

	.myRule2 {
	  color: #ffffff;
	}

	.myRule3 {
	  display: -webkit-flex;
	  display: flex;
	}

	.sapMALI {
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: flex;
	}

	.sapMALI .sapMLIBUnread,
	.sapMALI .sapMLIBSelectS,
	.sapMALI .sapMLIBSelectM,
	.sapMALI .sapMLIBSelectD {
	  display: none;
	}

	.sapMALI {
	  height: 3rem;
	}
}