@myVar: #ffffff;
@myVar2: darken(@myVar, 50%);

.myMixIn(@color) {
  @myVar: darken(@color, 50%);
  @myPrivateVar: darken(@color, 20%);

  .myNestedMixIn() {
    @myPrivateVar: @myVar;
    color: @myPrivateVar;
  }

  .myNestedMixIn;
  background-color: @myPrivateVar;
}

@myOtherPublicVar: 'test';

.myRule {
  .myMixIn(@myVar);
}

.myRule2 {
  background-color: @myVar;
  color: @myVar2;
}
