.myRule1 {
  color: #ffffff;
}

.myRule2 {
  display: block;
}

.myRule3 {
  color: red;
}

.myRule4 {
  background-color: transparent !important;
}

.myRule5 {
  color: #ffffff;
}

.myRule6 {
  display: block;
}

.myRule7 {
  color: red;
}
