@media screen and (min-width: 600px) {
  body {
    background: #000000;
    font-size: 21px;
  }
  html.myRule1 td {
    color: #000000;
  }
}
@media screen and (min-width: 600px) {
  body.fooContrast,
  body .fooContrast {
    background: #ffffff;
    font-size: 20px;
  }

  html.myRule1 .fooContrast td {
    color: #ffffff;
  }
}