.myRule {
  float: left;
  color: var(--myColor);
}
@keyframes myKeyframes {
  0%,
  80%,
  100% {
    transform: var(--myScale1);
  }
  40% {
    transform: var(--myScale2);
  }
}
@font-face {
  font-family: "MyFont";
  src: url("MyFont.woff2") format("woff2");
}
