:root {
  --link-color: #428bca;
  --link-color-hover: #3071a9;
  --other-var: 0 0 0.25rem 0 rgba(0, 0, 0, 0.15), inset 0 -0.0625rem 0 0 #428bca;
  --link-color-active: var(--link-color);
  --a: 100%;
  --var: var(--a);
}
